@using NortwindMVC.Models.Entities.Category
@model NortwindMVC.Models.Entities.Category.CategoryViewModel;

@{
  ViewBag.Title = "Categories";
}

<!-- Begin Page Content -->
<div class="container-fluid pt-3">
  <!-- Page Heading -->
  <div
    class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Categories</h1>

    <a asp-action="Add" asp-controller="Category" class="btn btn-outline-success">
      New Category
    </a>
  </div>

  @if(TempData["Error"] != null){
    <div class="alert alert-danger">
      @TempData["Error"]
    </div>
  }

  @if(TempData["Success"] != null){
    <div class="alert alert-success">
      @TempData["Success"]
    </div>
  }

  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0">
          <thead>
          <tr>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          @foreach (Category category in @Model.Categories)
          {
            <tr>
              <td>@category.CategoryId</td>
              <td>@category.CategoryName</td>
              <td>@category.Description</td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->